*{
    font-size: .85rem;
    font-family: $font;
    font-weight: 200;
    color: inherit;
}
a{
    color: inherit;
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}

h1 {
    font-size: 1.75rem;
    font-weight: 800;
    line-height: 1.75rem;
    margin: 0;
}
