$font: 'Fira Sans', sans-serif !default;

$white: #fff;

$site-color: #3971a3 !default;
$site-color-hover: darken($site-color, 10%) !default;

$font-color: #333 !default;
$border-color: #ccc !default;

$repository-border-color: #f2f2f2 !default;
$repository-border-color-hover: darken($repository-border-color, 50%) !default;
$repository-shadow: 0 0 .5rem 0 lighten($site-color, 40%) !default;

$danger-color: #9C191C !default;
$danger-color-hover: darken($danger-color, 10%) !default;

$shadow: 0 0 .5rem 0 lighten($site-color, 40%) !default;
$shadow-danger: 0 0 .5rem 0 lighten($danger-color, 40%) !default;
