<template>
    <table-repositories :title="title" :is-favorite="true"></table-repositories>
</template>

<script>
    export default {
        name: "FavoriteComponent",
        props: {
            title: {
                type: String,
                default: 'favorites',
            }
        },
        created() {
            axios.get('/api/favorites', this.headers)
                .then( response => {
                    this.$store.commit('SET_SEARCH_RESULT', {
                        items: response.data.data,
                        total: response.data.meta.total,
                        pages: {
                             current: response.data.meta.current_page,
                             total: response.data.meta.last_page,
                             query: response.data.meta.path + '?page=',
                             headers: this.headers,
                             next:  response.data.meta.last_page > 1 ? 2 : null,
                        }
                    });
                    let favorites = response.data.data.map(function (value) {
                        return value.id;
                    });
                    this.$store.commit('SET_CHECK_FAVORITE',favorites);
                });
        },
        computed: {
            repositories() {
                return this.$store.state.searchResults;
            },
            perPage() {
                return this.$store.state.perPage;
            },
            headers() {
                return {
                    headers: {
                        'Authorization': 'Bearer ' + document.head.querySelector('meta[name="api-token"]').content,
                        'Accept': 'application/json',
                    }
                }
            }
        }
    }
</script>

<style scoped>

</style>
