<template>
    <div class="pagination" v-if="searchResults.pages && searchResults.pages.current < searchResults.pages.total">
        <button class="button is-outlined" @click.prevent="handleShowMore">Show more</button>
    </div>
</template>

<script>
    import { mapState } from 'vuex';
    export default {
        name: "PaginationComponent",
        methods:{
            handleShowMore() {
                axios.get(this.searchResults.pages.query + this.searchResults.pages.next, this.searchResults.pages.headers)
                    .then(response => {
                        const items =  response.data.hasOwnProperty('items') ? response.data.items : response.data.data;
                        this.$store.commit('SET_SHOWMORE', {
                            items: items,
                        });

                        let favorites = items.map(function (value) {
                            return value.id;
                        });
                        this.$store.commit('SET_CHECK_FAVORITE',favorites);
                    })
                    .catch(() => {
                        this.$notify.error({
                            title: 'Search error',
                            message: 'Something wrong with search, try later'
                        })
                    })
            }
        },
        computed:{
            ...mapState([
                'githubUrl',
                'perPage',
                'searchResults',
            ]),
            query() {
                return this.githubUrl + '?q=' + this.queryString + '&per_page=' + this.perPage;
            }
        }
    }
</script>

<style scoped>

</style>
