<template>
    <div class="search">
        <div class="form-group">
            <input id="search" class="form-control" type="text" v-model="queryString" @input="handleSearch" @keydown="handleKey" autofocus/>

            <button class="button is-icon" @click.prevent="search">
                <i class="el-icon-search"></i>
            </button>
            <label for="search" class="form-label">{{ label }}</label>
        </div>
    </div>
</template>

<script>
    import { mapState } from 'vuex';
    export default {
        name: "SearchComponent",
        data() {
            return {
                queryString: '',
            }
        },
        props: {
            label: {
                type: String,
                default: 'Search'
            }
        },
        methods: {
            handleSearch: _.debounce(function(){
                if (this.queryString.length > 3) {
                    this.search();
                }
            }, 500),
            handleKey(event) {
                if (event.keyCode === 13) {
                    this.search();
                }
            },
            search: function () {
                axios.get(this.query)
                    .then(response => {
                        const totalPages = Math.ceil(response.data.total_count / this.perPage);
                        this.$store.commit('SET_SEARCH_RESULT', {
                            query: this.queryString,
                            items: response.data.items,
                            total: response.data.total_count,
                            pages: {
                                current: 1,
                                total: totalPages,
                                query: this.query + '&page=',
                                next:  totalPages > 1 ? 2 : null,
                            }
                        });

                        let favorites = response.data.items.map(function (value) {
                            return value.id;
                        });
                        this.$store.commit('SET_CHECK_FAVORITE',favorites);
                    })
                    .catch(() => {
                        this.$notify.error({
                            title: 'Search error',
                            message: 'Something wrong with search, try later'
                        })
                    })
            },
        },
        computed:{
            ...mapState([
                'perPage',
                'githubUrl',
            ]),
            query() {
                return this.githubUrl + '?q=' + this.queryString + '&per_page=' + this.perPage;
            }
        }
    }
</script>

<style scoped>

</style>
