<template>
    <div class="results">
        <template v-if="!isFavorite">
            <div class="title has-line">
                {{ repositories.query ? title : 'Start your first search' }}
            </div>

            <template v-if="repositories.query">
                Found {{ repositories.total }} repositories
            </template>
        </template>

        <template v-else>
            <div class="title has-line">
                {{ title }}
            </div>
            There are {{ repositories.total }} repositories in favorite
        </template>

        <transition-group name="bounceUp">
            <template  v-for="item in repositories.items">


                <div class="repository" :key="item.id">

                    <div class="head">
                        <div class="owner">
                            Owner: <span class="value">{{ item.owner.login }}</span>
                        </div>

                        <div class="favorites-controls">
                            <button
                                v-if="!checkFavorites(item)"
                                class="button is-link"
                                @click.prevent="addToFavorite(item)"
                            ><i class="el-icon-plus"></i>Add to favorite</button>
                            <template v-if="checkFavorites(item)">
                                <button
                                    class="button is-link is-hover-danger"
                                    @click.prevent="removeFromFavorite(item)"
                                ><i class="el-icon-close"></i>Remove to favorite</button>
                                <span class="small" v-if="isFavorite">Added {{ item.created_at }} by {{ item.user.name }}</span>
                            </template>
                        </div>
                    </div>

                    <div class="info">
                        <div class="url"><a :href="item.html_url" target="_blank">{{ item.html_url }}</a></div>
                        <div class="stargazers">
                            Stargazers: <span class="value">{{ item.stargazers_count }}</span>
                        </div>
                    </div>

                    <h3 class="name">{{ item.name }}</h3>

                    <div class="description" v-if="item.description">
                        <span class="has-line">Description</span>
                        <span class="value">{{ item.description }}</span>
                    </div>
                </div>

            </template>
        </transition-group>
    </div>
</template>

<script>
    export default {
        name: "TableRepositoriesComponent",
        props: {
            isFavorite: {
                type: Boolean,
                default: false,
            },
            title: {
                type: String,
                default: null,
            }
        },
        methods: {
            checkFavorites(item) {
                return (this.favorites.indexOf(item.id) >= 0);
            },

            /**
             * Add to favorite by API request
             * @param item
             */
            addToFavorite(item) {
                axios.post('/api/favorites', {
                    id:         item.id,
                    name:       item.name,
                    url:        item.html_url,
                    owner:      item.owner.login,
                    description:item.description,
                    stargazers: item.stargazers_count,
                }, this.headers)
                    .then( response => {
                        if (response.status === 201) {
                            this.$store.commit('SET_CHECK_FAVORITE', [item.id]);
                            this.$notify.success({ message: 'Repository successfully added to favorite' })
                        }
                    })
                    .catch( e => {
                        if (e.response.status === 422) {
                            const errors = Object.values(e.response.data.errors);
                            const notify = this.$notify;

                            errors.forEach( item => {
                                notify.error({ message: item[0] });
                            })
                        }
                    })
            },

            /**
             * Remove from favorites by API request
             * @param item
             */
            removeFromFavorite(item) {
                const notify = this.$notify;
                axios.delete('/api/favorites?id=' + item.id, this.headers)
                    .then( response => {
                        if (response.data) {
                            this.$store.commit('REMOVE_FROM_FAVORITES', item.id);
                            notify.success({ message: 'Repository "' + item.name + '" removed from favorite' });
                        }
                    })
                    .catch( e => {
                        if (e.response.status === 422) {
                            const errors = Object.values(e.response.data.errors);
                            errors.forEach( item => {
                                notify.error({ message: item[0] });
                            })
                        }
                    })
            }
        },
        computed: {
            repositories() {
                return this.$store.state.searchResults;
            },
            favorites() {
                return this.$store.state.inFavorites;
            },
            headers() {
                return {
                    headers: {
                        'Authorization': 'Bearer ' + document.head.querySelector('meta[name="api-token"]').content,
                        'Accept': 'application/json',
                    }
                }
            }
        },
    }
</script>

<style scoped>

</style>
