.button-group {
    display: flex;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $site-color;
    border-radius: 0;
    background-color: $site-color;
    color: $white;
    padding: 0 .5rem;
    line-height: 2rem;
    transition: all .25s linear;

    &::-moz-focus-inner {
        border: 0;
    }

    &:hover {
        background-color: $site-color-hover;
        border-color: $site-color-hover;
    }

    &:active {
        background-color: lighten($site-color, 50%);
        color: $site-color;
        transition: background .01s linear;
    }

    &.is-outlined {
        background-color: transparent;
        border-color: $site-color;
        color: $site-color;

        &:hover {
            background-color: $site-color;
            border-color: $site-color;
            color: $white;
        }

        &:active {
            background-color: lighten($site-color, 50%);
            color: $site-color;
            transition: background .01s linear;
        }
    }

    &.is-danger {
        background-color: $danger-color;
        border-color: $danger-color;

        &:hover {
            background-color: $danger-color-hover;
            border-color: $danger-color-hover;
            color: $white;
        }

        &:active {
            background-color: lighten($danger-color, 50%);
            color: $danger-color;
            transition: background .01s linear;
        }

        &.is-outlined {
            background-color: transparent;
            border-color: $danger-color;
            color: $danger-color;

            &:hover {
                background-color: $danger-color;
                border-color: $danger-color;
                color: $white;
            }

            &:active {
                background-color: lighten($danger-color, 50%);
                color: $danger-color;
                transition: background .01s linear;
            }
        }
    }

    &.is-link {
        padding: 0 .25rem;
        line-height: unset;
        background: transparent;
        color: $font-color;
        border: none;
        cursor: pointer;
        transition: all .25s linear;

        i {
            font-size: 70%;
            margin: 0 .25rem;
        }

        &:hover {
            color: $site-color;
        }

        &.is-hover-danger {

            &:hover {
                color: $danger-color;
            }
        }
    }

}
