.header {
    padding: 1rem 0;
    border-bottom: 1px solid $font-color;

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .controls {
            display: flex;

            .button {
                font-size: 1rem;
                padding: 1rem;
            }
        }
    }
}
