.form-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-control {
    width: 100%;
    height: 2.75rem;
    padding: .25rem .5rem;
    border-radius: 0;
    padding-top: 1rem;

    &:-moz-ui-invalid, -moz-submit-invalid {
        border-color: $danger-color;
        box-shadow: $shadow-danger;
    }

    &:focus {
        color: $font-color;
        background-color: transparent;
        border-color: $site-color;
        outline: 0;
        box-shadow: $shadow;

        & ~ .form-label {
            top: -.65rem;
            font-size: .75rem;
            color: lighten($font-color, 25%);
        }
    }

    &:not(:focus):valid ~ .form-label {
        top: -.65rem;
        font-size: .75rem;
        color: lighten($font-color, 25%);
    }
}
.form-label {
    position: absolute;
    pointer-events: none;
    left: .5rem;
    top: 0rem;
    line-height: 2.75rem;
    transition: 0.3s;
    font-weight: 200;
    color: $font-color;
}
