.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .form {
        min-width: 320px;
        padding: 15px;

        .page-title {
            font-size: 1rem;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;

            &:after {
                height: 1px;
                width: 75%;
                background: $border-color;
                display: block;
                content: "";
                margin-top: .5rem;
                margin-bottom: 2rem;
            }

            &:before{
                content: "";
                display: block;
                height: 3px;
                width: 30%;
                background: #ccc;
                position: absolute;
                top: calc(3rem - .5px);
            }
        }

    }
}
