.repository {
    padding: 1rem;
    border: 1px solid $repository-border-color;
    margin: .5rem 0;
    transition: all .25s linear;

    .head {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: 1px solid $font-color;
        padding: .25rem 0;

        .favorites-controls {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .small {
                font-size: .7rem;
                font-weight: 200;
            }
        }
    }

    .info {
        display: flex;
        justify-content: space-between;
    }

    .value {
        font-weight: 400;
    }

    .name {
        font-size: 1.5rem;
        font-weight: 800;
        margin: 1rem 0;
    }

    &:hover {
        border-color: $site-color;
        box-shadow: $shadow;
    }

    .has-line {
        display: block;
        position: relative;
        margin-bottom: .5rem;

        &:after {
            display: block;
            width: 3rem;
            height: 1px;
            background: lighten($font-color, 40%);
            content: "";
            position: absolute;
            bottom: -.15rem;
        }
    }
}
