.search {
    margin: 2rem auto;

    .form-control {
        padding-right: 2.5rem;
    }

    .button {
        &.is-icon {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 2.75rem;
            background: transparent;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $border-color;

            i {
                font-size: 1.5rem;
            }

            &:hover {
                color: $site-color;
            }
        }
    }
}
