.title {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;

    &.has-line{

        &:after {
            display: block;
            width: 10rem;
            height: 1px;
            background: $font-color;
            content: "";
            position: absolute;
            top: 2rem;
        }
    }

}
